@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "GLDDisplay-Black";
	src: url(/public/assets/fonts/GLDDisplay-Black.ttf);
}

.glDisplay {
	font-family: "GLDDisplay-Black", Impact, Haettenschweiler, "Arial Narrow Bold",
		sans-serif !important;
	line-height: 0.8;
}

:root {
	--main-color: 103, 10, 255;
	--foreground-rgb: #fff;
	--red-color: 255, 0, 31;
	--black-color: 0, 0, 0;
	--white-color: 255, 255, 255;
	--gray-text-color: 156, 156, 156;
	--gray-background-color: 245, 245, 245;
}

body {
	color: #fff;
	background: rgb(var(--main-color));
}
/* 
* {
	@apply border;
} */

@layer components {
	.h1-header {
		@apply flex   w-full;
	}
	.h1-text {
		@apply text-9xl w-full md:text-[22rem]  glDisplay;
	}
}
